<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listing</h1>
    <% shortData.forEach(function(short){ %>
    <ul>
        <li>Title: <%= short.title %></li>
        <li>Type: <%= short.type %></li>
        <li>Link: <a href="/<%= short.encode %>">/<%= short.encode %></a></li>
        <li>URL: <%= short.decode %></li>
        <li>Password: <%= short.password %></li>
        <li>Create time: <%= short.time %></li>
        <li><a href="/edit/<%= short.encode %>">Edit</a></li>
        <li><a href="/delete/<%= short.id %>">Delete</a></li>
    </ul>
    <% }); %>
</body>
</html>